/* Unordered list <ul> symbols:
 * - level 1 is filled disc
 * - level 2 is hollow circle
 * - level 3 is filled square
 */

 ul {
         list-style-type:  disc !important;
 }

ul ul {
        list-style-type:  circle !important;
}

ul ul ul {
        list-style-type:  square !important;
}

p.red {
  color: red;
  font-weight: bold;
  font-size: large;
  text-align: center;
  border: 4px dashed red;
}
